# Task 3

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier

In [7]:
tweets_df = pd.read_csv("data/clean_processed_tweet.csv")

In [8]:
tweets_df.head()

,Unnamed: 0,created_at,source,Original_Text,full_text,sentiment,polarity,subjectivity,lang,favorite_count,retweet_count,possibly_sensitive,hashtags,user_mentions,place
0,0,2022-08-07 22:31:20+00:00,['source'],RT @i_ameztoy: Extra random image (I):\n\nLets...,rt iameztoy extra random image lets focus one ...,0,-1.250000e-01,0.190625,en,0,2,NaN,City,i_ameztoy,NaN
1,1,2022-08-07 22:31:16+00:00,['source'],RT @IndoPac_Info: #China's media explains the ...,rt indopacinfo chinas media explains military ...,0,-1.000000e-01,0.100000,en,0,201,NaN,"China, Taiwan",IndoPac_Info,NaN
2,2,2022-08-07 22:31:07+00:00,['source'],"China even cut off communication, they don't a...",china even cut communication dont anwer phonec...,-1,0.000000e+00,0.000000,en,0,0,NaN,XiJinping,ZelenskyyUa,Netherlands
3,3,2022-08-07 22:31:06+00:00,['source'],"Putin to #XiJinping : I told you my friend, Ta...",putin xijinping told friend taiwan vassal stat...,1,1.000000e-01,0.350000,en,0,0,NaN,XiJinping,NaN,Netherlands
4,4,2022-08-07 22:31:04+00:00,['source'],"RT @ChinaUncensored: I’m sorry, I thought Taiw...",rt chinauncensored i’m sorry thought taiwan in...,0,-6.938894e-18,0.556250,en,0,381,NaN,NaN,ChinaUncensored,"Ayent, Schweiz"

In [9]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          999 non-null    int64
 1   created_at          999 non-null    object
 2   source              999 non-null    object
 3   Original_Text       999 non-null    object
 4   full_text           999 non-null    object
 5   sentiment           999 non-null    int64
 6   polarity            999 non-null    float64
 7   subjectivity        999 non-null    float64
 8   lang                999 non-null    object
 9   favorite_count      999 non-null    int64
 10  retweet_count       999 non-null    int64
 11  possibly_sensitive  246 non-null    object
 12  hashtags            877 non-null    object
 13  user_mentions       875 non-null    object
 14  place               568 non-null    object
dtypes: float64(2), int64(4), object(9)
memory usage: 117.2+ KB

In [10]:
tweets_df.isna()

,Unnamed: 0,created_at,source,Original_Text,full_text,sentiment,polarity,subjectivity,lang,favorite_count,retweet_count,possibly_sensitive,hashtags,user_mentions,place
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
995,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
996,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [11]:
tweets_df.isna()

,Unnamed: 0,created_at,source,Original_Text,full_text,sentiment,polarity,subjectivity,lang,favorite_count,retweet_count,possibly_sensitive,hashtags,user_mentions,place
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
995,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
996,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [12]:
tweets_df.shape

(999, 15)